<div class="form-group" [class.has-success]="hasSuccess()" [class.has-error]="hasError()">
  <label class="control-label sr-only" for="inputSuccess">
    <i class="fa fa-check"></i> {{ label }}</label>

  
<!-- <input type="text" class="form-control" id="inputSuccess" name="adress" #input="ngModel" autocomplete="off" minlength="5"
    required ngModel placeholder="Endereço">
     -->
   <ng-content></ng-content>  
   
  <span class="help-block" *ngIf="hasSuccess()"><i class="fa fa-check"></i> OK</span>
  <span class="help-block" *ngIf="hasError()"> <i class="fa fa-remove"></i>{{ errorMessage }}</span>
</div>